@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Eğitim Portalı - Kayıt Ol</title>

    <!-- Custom fonts for this template-->
    <link href="~/sbadmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/sbadmin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-6 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                          
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Kayıt Ol</h1>
                                    </div>
                                   
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user"
                                               id="txtUserName" placeholder="Kullanıcı Adı">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user"
                                               id="txtFirstName" placeholder="Ad">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user"
                                               id="txtLastName" placeholder="Soyad">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                               id="txtEmail" aria-describedby="emailHelp"
                                               placeholder="E-posta">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               id="txtPassword" placeholder="Parola">
                                    </div>
                                    <button class="btn btn-primary btn-user btn-block" id="btnRegister">
                                        Kayıt Ol
                                    </button>
                                
                                    <hr>
                                    <div id="divResult"></div>
                                    <div class="text-center">
                                        <a class="small" href="/Login">Zaten hesabınız var mı? Giriş yapın!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/sbadmin/vendor/jquery/jquery.min.js"></script>
    <script src="~/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/sbadmin/js/sb-admin-2.min.js"></script>

    <script>
        $(document).ready(function(){
            var apiBaseUrl = "@ViewBag.ApiBaseURL";
            
            $("#btnRegister").click(function(){
                if($("#txtUserName").val() == "" || $("#txtFirstName").val() == "" || 
                   $("#txtLastName").val() == "" || $("#txtEmail").val() == "" || $("#txtPassword").val() == ""){
                    $("#divResult")
                        .fadeIn()
                        .removeClass()
                        .addClass("alert alert-danger")
                        .html("Lütfen tüm alanları doldurunuz!")
                        .fadeOut(3000);
                    
                    return false;
                }

                var userName = $("#txtUserName").val();
                var firstName = $("#txtFirstName").val();
                var lastName = $("#txtLastName").val();
                var email = $("#txtEmail").val();
                var password = $("#txtPassword").val();

                var registerData = {
                    UserName: userName,
                    FirstName: firstName,
                    LastName: lastName,
                    Email: email,
                    Password: password
                };

                $.ajax({
                    url: apiBaseUrl + "/User/register",
                    type: "POST",
                    data: JSON.stringify(registerData),
                    contentType: "application/json",
                    dataType: "json",
                    success: function(response) {
                        $("#divResult")
                            .fadeIn()
                            .removeClass()
                            .addClass("alert alert-success")
                            .html("Kayıt başarılı! Giriş yapılıyor...")
                            .fadeOut(3000);
                            
                        // Kayıt başarılıysa otomatik olarak giriş yap
                        var loginData = {
                            Email: email,
                            Password: password
                        };

                        setTimeout(function() {
                            $.ajax({
                                url: apiBaseUrl + "/User/login",
                                type: "POST",
                                data: JSON.stringify(loginData),
                                contentType: "application/json",
                                dataType: "json",
                                success: function(loginResponse) {
                                    if (loginResponse && loginResponse.token) {
                                        // Token'ı session'a kaydet
                                        $.ajax({
                                            url: "/api/Session/SetToken",
                                            type: "POST",
                                            contentType: "application/json",
                                            data: JSON.stringify({ token: loginResponse.token }),
                                            success: function() {
                                                // Burada yönlendirmeyi düzeltiyoruz, tam URL kullanarak
                                                window.location.href = window.location.protocol + "//" + window.location.host + "/Courses";
                                            },
                                            error: function() {
                                                $("#divResult")
                                                    .fadeIn()
                                                    .removeClass()
                                                    .addClass("alert alert-danger")
                                                    .html("Token kaydetme işlemi başarısız oldu!")
                                                    .fadeOut(3000);
                                            }
                                        });
                                    } else {
                                        $("#divResult")
                                            .fadeIn()
                                            .removeClass()
                                            .addClass("alert alert-danger")
                                            .html(loginResponse && loginResponse.message ? loginResponse.message : "Giriş başarısız!")
                                            .fadeOut(3000);
                                    }
                                },
                                error: function(xhr, status, error) {
                                    let errorMessage = "Giriş işlemi sırasında bir hata oluştu";
                                    try {
                                        const response = JSON.parse(xhr.responseText);
                                        if (response && response.message) {
                                            errorMessage = response.message;
                                        }
                                    } catch (e) {}
                                    
                                    $("#divResult")
                                        .fadeIn()
                                        .removeClass()
                                        .addClass("alert alert-danger")
                                        .html(errorMessage)
                                        .fadeOut(3000);
                                }
                            });
                        }, 1000);
                    },
                    error: function(xhr, status, error) {
                        let errorMessage = "Kayıt işlemi sırasında bir hata oluştu";
                        try {
                            const response = JSON.parse(xhr.responseText);
                            if (response && response.message) {
                                errorMessage = response.message;
                            }
                        } catch (e) {}
                        
                        $("#divResult")
                            .fadeIn()
                            .removeClass()
                            .addClass("alert alert-danger")
                            .html(errorMessage)
                            .fadeOut(3000);
                    }
                });
            });
        });
    </script>

</body>

</html> 